.food-donor {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 80vh;
  }
  
  .food-donor h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .food-donor form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .food-donor label {
    font-size: 16px;
  }
  
  .food-donor input {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 200px;
    color: #333;

  }
  
  .food-donor .buttons {
    display: flex;
    gap: 10px;
  }
  
  .food-donor button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .food-donor button:hover {
    background: #0056b3;
  }
  
  .product-list {
    margin-top: 20px;
  }
  
  .product-list h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-list ul {
    list-style: none;
    padding: 0;
  }
  
  .product-list li {
    font-size: 16px;
    margin: 5px 0;
  }
  